<div id="game-field-container"></div>
<div class="clear"></div>
<script type="text/javascript">
    var GSTATUS_READY                           = <?php echo GSTATUS_READY; ?>;
    var GSTATUS_CHALLENGE_SENT                  = <?php echo GSTATUS_CHALLENGE_SENT; ?>;
    var GSTATUS_CHALLENGE_RECEIVED              = <?php echo GSTATUS_CHALLENGE_RECEIVED; ?>;
    var GSTATUS_INPROGRESS                      = <?php echo GSTATUS_INPROGRESS; ?>;
    var GSTATUS_CANCELED                        = <?php echo GSTATUS_CANCELED; ?>;
    var GSTATUS_ACCEPTED                        = <?php echo GSTATUS_ACCEPTED; ?>;
    var GSTATUS_FINISHED                        = <?php echo GSTATUS_FINISHED; ?>;

    var game_status = GSTATUS_READY; // GSTATUS_READY 0 - ready to game; 1 GSTATUS_CHALLENGE_SENT - sent challenge;
    // GSTATUS_CHALLENGE_RECEIVED 2 - received challenge; GSTATUS_INPROGRESS 3 - game in progress; GSTATUS_CANCELED 4 -canceled
    // GSTATUS_ACCEPTED 5 - accepted; GSTATUS_FINISHED 6 - finished
    var invited_player              = 0;
    var pretender_player            = 0;
    var game_id                     = 0;
    var turn                        = false;
    var game_field                  = false;
    var user_symbol                 = false;

    $( document ).ready(function() {
        setInterval(checkrequest, 1500);

        // click to player name for battle
        $( document ).on('click', "div.logged-in-player a", function() {
            if(game_status == GSTATUS_READY) {
                // send challenge
                game_status = GSTATUS_CHALLENGE_SENT;
                var opponent = $(this);
                invited_player = opponent.data('id');
                setMessage('You are sent a challenge to ' + opponent.text() + '. Please wait for responce or <a id="cancel-challenge" href="#">Cancel</a>');
            }
            return false;
        });

        // cancel challenge sending
        $( document ).on('click', "#cancel-challenge", function() {
            game_status = GSTATUS_CANCELED;
            setMessage("Challenge canceled. Please select opponent.");

            return false;
        });

        // accept challenge
        $( document ).on('click', "#accept-challenge", function() {
            game_status = GSTATUS_ACCEPTED;
            setMessage("Challenge accepted.");

            return false;
        });

        // click on game field action
        $( document ).on('click', "#game-field-container div.game-field-cell", function() {
            // check turn and game status
            if(game_status == GSTATUS_INPROGRESS && turn == "self") {
                // turn allowed
                // check empty cell
                var cell_id = $(this).data("id");
                var game_value = game_field[cell_id];
                if(game_value == "0") {
                    // click for this cell allowed. set game field value
                    game_field[cell_id] = user_symbol;
                    drawGameField();
                }
            }

            return false;
        });
    });


    /* Main request routine */
    function checkrequest() {
        $.ajax({
            type: "POST",
            url: "/index/checkrequest",
            dataType: 'json',
            success: successAnswer,
            data : {
                game_status             : game_status,
                invited_player          : invited_player,
                pretender_player        : pretender_player,
                game_id                 : game_id,
                game_field              : game_field,
                turn                    : turn
            }
        });
    }

    function successAnswer(data) {
        //console.log(data);
        if(data['onlinePlayers'] != undefined) {
            refreshOnlinePlayers(data['onlinePlayers']);

        }
        if(data['gameState']['game_status'] != undefined) {
            game_status = data['gameState']['game_status'];

            // precess game status
            switch(parseInt(game_status)) {
                case GSTATUS_INPROGRESS :
                    game_status                 = data['gameState']['game_status'];
                    game_id                     = data['gameState']['game_id'];
                    turn                        = data['gameState']['turn'];
                    var opponent                = data['gameState']['opponent'];
                    game_field                  = data['gameState']['game_field'];
                    user_symbol                 = data['gameState']['user_symbol'];
                    if(turn == 'self') {
                        setMessage("Your turn");
                    } else {
                        if(opponent != undefined) {
                            setMessage(opponent['name'] + " turn");
                        }
                    }
                    drawGameField();
                    break;
                case GSTATUS_CHALLENGE_SENT :
                    game_status                 = data['gameState']['game_status'];
                    game_id                     = data['gameState']['game_id'];
                    setMessage('You are sent a challenge to ' + data['gameState']['opponent']['name'] + '. Please wait for responce or <a id="cancel-challenge" href="#">Cancel</a>');
                    break;
                case GSTATUS_CHALLENGE_RECEIVED :
                    pretender_player            = data['gameState']['pretender']['id'];
                    game_id                     = data['gameState']['game_id'];
                    setMessage(data['gameState']['pretender']['name'] + ' has challenged you to duel. <a id="accept-challenge" href="#">Accept</a> or <a id="cancel-challenge" href="#">Cancel</a>')
                    break;
                case GSTATUS_CANCELED :
                    setMessage("Challenge canceled. Please select opponent.");
                    game_status                 = GSTATUS_READY;
                    pretender_player            = 0;
                    invited_player              = 0;
                    game_id                     = 0;
                    break;
                case GSTATUS_FINISHED :
                    var won = data['gameState']['won'];
                    if(won == 'self') {
                        setMessage("You Won!");
                    }
                    if(won == 'opponent') {
                        var opponent                = data['gameState']['opponent'];
                        setMessage(opponent['name'] + " Won!");
                    }
                    if(won == 'draw') {
                        setMessage("Draw!");
                    }
                    clearAndHideGameField();
                    game_status                 = GSTATUS_READY;
                    game_id                     = 0;
                    break;
            }
        }
        if(data['gameState']['invited_player'] != undefined) {
            invited_player = data['gameState']['invited_player'];
        }

        if(data['gameState']['pretender_player'] != undefined) {
            pretender_player = data['gameState']['pretender_player'];
        }

    }
    /* Main request routine - end */

    function refreshOnlinePlayers(onlinePlayers) {
//        console.log('ok');
        $("#logged-in").empty();

        $("#logged-in").append('<div class="logged-in-player">Who ready to play: </div>');
        for(i = 0; i < onlinePlayers.length; i++) {
            $("#logged-in").append('<div class="logged-in-player"><a title="Click for play Vs ' + onlinePlayers[i]['name'] + '" href="#" data-id="' + onlinePlayers[i]['id'] + '">' + onlinePlayers[i]['name'] + ' </div>');
        }
        $("#logged-in").append('<div class="clear"></div>');
    }

    function clearMessageBox() {
        $("#msg-box").empty();
    }

    function setMessage(message) {
        $("#msg-box").empty();
        $("#msg-box").append('<h3>' + message + '</h3>');
    }

    function drawGameField() {
        if(game_field != undefined) {
            // draw game field
            $("#game-field-container").empty();

            $("#game-field-container").slideDown();
            for(i = 1; i < 10; i++) {
                var cell_class = "";
                if(game_field[i] != "0") {
                    cell_class = game_field[i] + "-cell ";
                }
                $("#game-field-container").append('<div data-id="' + i + '" class="' + cell_class + 'game-field-cell"></div>');
            }

        } else {
            $("#game-field-container").slideUp();
        }
    }

    function clearAndHideGameField() {
        $("#game-field-container").empty();
        $("#game-field-container").slideUp();
    }

</script>