<h1>My results:</h1>
<h3>today:</h3>
<p>Wins: <?php echo(isset($this->myWins) ? $this->myWins : ""); ?></p>
<p>Loses: <?php echo(isset($this->myWins) ? $this->myLoses : ""); ?></p>
<p>Draws: <?php echo(isset($this->myDraws) ? $this->myDraws : ""); ?></p>
<h3>total:</h3>
<p>Wins: <?php echo(isset($this->myTotalWins) ? $this->myTotalWins : ""); ?></p>
<p>Loses: <?php echo(isset($this->myTotalLoses) ? $this->myTotalLoses : ""); ?></p>
<p>Draws: <?php echo(isset($this->myTotalDraws) ? $this->myTotalDraws : ""); ?></p>