html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif;text-align:center}
p{margin:0 10px 10px}
div#header{position:relative}
div#header h1{height:80px;line-height:80px;margin:0;
    padding-left:10px;background: #EEE;color: #79B30B}
div#header h1 p {float: right;}
div#container{text-align:left}
div#content p{line-height:1.4}
div#navigation{background:#B9CAFF}
div#extra{background:#FF8539}
div#footer{background: #333;color: #FFF}
div#footer p{margin:0;padding:5px 10px}
div#footer a{display:inline;padding:0;color: #C6D5FD}

div#container{width:700px;margin:0 auto}
div#navigation{float:left;width:350px}
div#extra{float:right;width:350px}
div#footer{clear:both;width:100%}

/* custom styles */
.nav {
    height: 30px;
    background-color: #333333;
}
.nav ul li {
    float: left;
    list-style: none;
}
.nav ul li a {
    color: #ffffff;
    padding:10px;
    display:block;
}
.logged-in {
    background-color: #cccccc;
}
.logged-in-player {
    padding: 4px;
    float: left;
}
#msg-box h3 {
    color: #79B30B;
    text-align: center;
}
#cancel-challenge {
    color: red;
}
#accept-challenge {
    color: blue;
}
#game-field-container {
    display: none;
    width: 450px;
    height: 450px;
    margin: 20px auto;
    background-image: url("../img/field.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.game-field-cell {
    float: left;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.game-field-cell:hover {
    border: 1px solid red;
    width: 148px;
    height: 148px;
}
.o-cell {
    background-image: url("../img/o.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.x-cell {
    background-image: url("../img/x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.clear {
    clear: both;
}