<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Tic Tac Toe</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Tic Tac Toe <p><?php echo (!empty($this->name) ? $this->name : ''); ?></p></h1>
            <div class="nav">
                <?php
                if(!empty($this->auth) && $this->auth->hasIdentity()) { ?>
                    <ul class="nav-auth">
                        <li><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'results')); ?>">Results</a></li>
                        <li><a href="<?php echo $this->url(array('controller' => 'login', 'action' => 'logout')); ?>">Logout</a></li>
                    </ul>
                <?php } else { ?>
                    <ul class="nav-no-auth">
                        <li><a href="<?php echo $this->url(array('controller' => 'login')); ?>">Login</a></li>
                    </ul>
                <?php } ?>
            </div>
            <div class="clear"></div>
            <?php
            if(!empty($this->auth) && $this->auth->hasIdentity()) { ?>
            <div id="logged-in">
            </div>
            <div class="clear"></div>
            <?php } ?>
        </div>
        <div id="wrapper">
            <div id="content">
                <div id="msg-box"></div>
                <?php echo $this->layout()->content; ?>
            </div>
        </div>
        <div id="navigation">
            <p></p>
        </div>
        <div id="extra">
            <p></p>
        </div>
        <div id="footer"><p>Tic Tac Toe</p></div>
    </div>
</body>
</html>
